/* #region reset */
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Robotobold.ttf);
  font-weight: bold;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #28303e;
  width: 100%;
}

.body-wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* #endregion */ 

/* #region header */

.header {
  border-bottom: 1px solid #244f8f;
 height: fit-content;
padding: 20px 0;
}

.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}




.header .list-items {
  padding-top: 50px;
}

.header .list-item {
  border: none;
}

.header-menu {

}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 5%;
}

.header-title {
  color:#8bb6f1;
  letter-spacing: 0.07em;
  transition: all .3s;
}

.header-subtitle {
  color: #435169;
}

.header-contacts {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
}

.contacts .list-items {
  display: flex;
  justify-content: start;
  margin-right: 30px;
  margin: 0 auto;
 
}

.header-contacts {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;


  transition: all .3s;
}

.header-contacts-item {
  
}

.contacts .list-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;

  transition: all .3s;
}

.contacts .list-item:hover {
  transform: scale(1.2);
}
/* #endregion */

/* #region main*/
.main {
  display: flex;
  padding-top: 60px;
  margin-bottom: 60px;
  
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.main-title {
  display: flex;
  justify-content: start;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.08em;
  color: #adb4bd;
}

.main-photo {
  border: 12px solid #8bb6f1;
  border-radius: 5px;
  transition: all .3s;
  height: 80%;
  width: 40%;
}

.main-photo-img {
  width: 100%;
  
}

.main-text {
  display: flex;
  justify-content: center;
  width: 80%;
  height: fit-content;
  border: 1px solid #8bb6f1;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 180%;
  color: #bbd4f77e;
  margin: 40px 40px;
  padding: 20px;
  column-count: 2;
  text-align: center;
}
/* #endregion */

/* #region education */
.education-items {
  display: inline-block;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 5px;
  padding: 15px;

  color: #8bb6f1;
  border: 1px solid #8bb6f1;
  border-radius: 5px;
}

.education-item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 12px;
  color: #bbd4f77e;
  letter-spacing: 0.08em;
}
/* #endregion */

/* #region skills */
.skills .main-title {
  margin-top: 80px;
}

.skills .container{
  padding-bottom: 40px;
}

.skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 40px;
  max-height: 150px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 80px;
  margin-bottom: 48px;
  padding: 7px 0;

  border: 1px solid #8bb6f1;
  border-radius: 5px;
  transition: all .3s;
}

.skills-item:hover {
  transform: scale(1.3);
  border: none;
  box-shadow: 5px 5px 10px 1px #6b809972;
}

.skills-item-title {
  padding: 15px 0 5px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #8bb6f1;
}

.skills-item-info {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  color: #bbd4f77e;
}
/* #endregion */

/* #region courses */
.courses .container {
  padding-bottom: 40px;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  margin-right: 30px;
  margin: 0 auto;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  margin-right: 5px;
  padding: 10px 5px;

  color: #8bb6f1;
  border: 1px solid #8bb6f1;
  border-radius: 5px;
}

.list-item-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.02em;
  
  padding: 15px 0 5px 0;
}

.list-item-info {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: #bbd4f77e;
}
/* #endregion */

/* #region languages */
.languages .container {
  padding-bottom: 40px;
}

.languages .list-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.languages .list-item {
  padding: 20px;
  margin-right: 20px;
}
/* #endregion */

/* #region examples*/
.examples {
    padding-bottom: 40px;
}

.code {
  margin-bottom: 80px;
  max-width: 800px;
  padding: 20px;

  border: 1px solid #8bb6f1;
  border-radius: 5px;
}

.task {
  display: flex;
  margin-bottom: 20px;

  color: #8bb6f1;
  letter-spacing: 0.08em;
  font-size: 14px;
}

.solution {
  display: flex;
  justify-content: start;
  max-width: 500px;
  margin-right: 50px;

  color: #adb4bd;
}

.landing {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 60px;
  width: 250px;

  border: 1px solid #8bb6f1;
  border-radius: 5px;
}

.landing-page {
  text-decoration: none;
  color: #8bb6f1;
  
  transition: all .3s;
}

.landing-page:hover {
  color: #f1eff1;
}
/* #endregion */

/* #region contacts*/
.contacts-list-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.contact-list-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #8bb6f1;
  border-radius: 5px;

  width: 250px;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;

  transition: all .3s;
}

.contact-list-item:hover {
  transform: scale(1.08);
  border: none;
}

.contact-list-item-info {
  margin-left: 50px;
  transform: translateY(-185%);

  font-size: 16px;
  color: #bbd4f77e;
}

.link {
  text-decoration: none;
  font-size: 16px;
}
/* #endregion */

/* #region footer*/
.footer {
  border-top: 1px solid #244f8f;
  padding: 25px 0;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.ref {
  text-decoration: none;
  color: #adb4bd;
  cursor: pointer;

  transition: all .3s;
}

.ref:hover {
  color: #f1eff1;
}

.logo-rs {
  width: 80px;
  background-color: #435169;
}

.year {
  color: #adb4bd;
}
/* #endregion */

/* #region responsive*/

/* #end region */